/*:host {
  height: 100%;
}*/

.batt{
  position: absolute;
  top: var(--thermostat-battery-top, 55%);
  left: 45%;
  white-space: nowrap;
  font-size: 0.7em;
  color: var(--thermostat-battery-color, var(--text-color));
}

.batt-icon{
  position: absolute;
  top: var(--thermostat-battery-icon-top, 58%);
  left: 29%;
  white-space: nowrap;
  font-size: 0.25em;
  transform: rotate(-90deg);
  color: var(--thermostat-battery-icon, var(--color-base));
}

.valve{
  position: absolute;
  top: var(--thermostat-valve-top, 77%);
  left: 45%;
  white-space: nowrap;
  font-size: 0.7em;
  color: var(--thermostat-valve-color, var(--text-color));
}

.valve-icon{
  position: absolute;
  top: var(--thermostat-valve-icon-top, 81%);
  left: 29%;
  white-space: nowrap;
  font-size: 0.25em;
  color: var(--thermostat-valve-icon, var(--color-base));
}

.humidity{
  position: absolute;
  top: var(--thermostat-humidity-top, 100%);
  left: 45%;
  white-space: nowrap;
  font-size: 0.7em;
  color: var(--thermostat-humidity-color, var(--text-color));
}

.humidity-icon{
  position: absolute;
  top: var(--thermostat-humidity-icon-top, 103%);
  left: 28%;
  white-space: nowrap;
  font-size: 0.3em;
  color: var(--thermostat-humidity-icon, var(--color-base));
}

.current-value {
  top: 10%;
  display: block;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: var(--thermostat-value-color, var(--text-color));
  font-size: var(--thermostat-value-size);
  width: var(--value-width);
}

.knob {
  position: absolute;
  width: 200%;
  height: 250%;
  top: -75%;
  left: -50%;
  z-index: 10;
  cursor: pointer;
}

.knob-style {
  position: relative;
  margin: 3em auto;
  width: 100%;
  height: 50%;
}

.knob-style-grip {
  position: absolute;
  top: 67%;
  left: 50%;
  width: 0.5px;
  border-left: var(--grip-left);
  border-right: var(--grip-right);
  border-bottom: var(--grip);
  margin-left: var(--grip-mleft);
}

.knob-style-min {
  bottom: -55%;
  left: 40%;
}

.knob-style-max {
  top: 10%;
  right: -50%;
}

.tick {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  overflow: visible;
}

.tick:after {
  content: "";
  width: 0.08em;
  height: 1em;
  background: var(--thermostat-tick-color, rgba(255, 255, 255, 0.2));
  position: absolute;
  top: var(--top);
  left: 50%;
  margin-top: var(--margin);
}

.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--thermostat-text-color, rgba(255, 255, 255, 0.2));
  font-size: 0.8em;
}

.txt:after {
  content: var(--value);
  width: var(--size-after);
  position: absolute;
  padding-bottom: var(--top);
  transform: var(--transform);
}

.temp {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--thermostat-temp-color, var(--text-color));/*white;*/
  font-size: var(--thermostat-temp-size, 0.75em);
  font-weight: bold;
}

.temp:after {
  content: var(--value);
  width: var(--size-after);
  position: absolute;
  padding-bottom: var(--top);
  transform: rotate(180deg);
}

.activetick:after {
  background: var(--gradient);
}

.thick:after {
  width: 0.2em;
  left:-1px;
}

.thick-active:after {
  width: 0.2em;
  left:-1px;
}

.blink {
  animation: blink 1.5s normal infinite ease-in-out;
}

@keyframes blink {
  50%{
    opacity:0.3;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.3;
  }
}
