/* created by Jones
   https://forum.fhem.de/index.php?topic=134253.0
*/
.header {
}

.fontBig {
  font-size: 22px; 
}

.fontMedium {
  font-size: 18px; 
}

.tabActive {
  pointer-events: none;
  border: thin solid white;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  margin-left: -1px;
}

.tabInactive {
  pointer-events: none;
  border-radius: 15px 15px 0 0;
  border-bottom: thin solid white;
  opacity: 0.55;
}

.date {
  font-size: 95%;
  color: white;
}

.weekday {
  font-size: 70%;
  margin-top: -6px;
  color: darkgray;
}

.tempMin {
  font-size: 90%;
  color: deepSkyBlue;
}

.tempMax {
  font-size: 90%;
  color: orange;
}

.amount {
  font-size: 21px;
  font-weight:normal;
}

.unit {
  font-size: 11px;
}

.pic {
  margin-top: 4px;
  height: 18px;
}

table {
  table-layout: fixed;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
